@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.hero-section {
  background: url(../public/bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.bg-b {
  background: url(../public/p-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  /* height: 60vh; */
}

.bd-d {
  background: url(../public/bg-8.png);
}
.bg-c {
  background: url(../public/p-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.event-bg {
  background: url(../public/bg6\ .png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 82vh;
  width: 58%;
}

/* .bg-a {
  background: url(../public/p-1.png);
} */

.gsap-marker-scroller-end {
  display: none !important;
}
.gsap-marker-scroller-start {
  display: none !important;
}

section {
  margin: 50px;
  text-align: center;
}

.animatedDiv {
  margin-right: -19rem;
  transition: margin-right 0.5s ease;
}

.move-left {
  transition: margin-left 3s ease; /* Add transition property */
}
@keyframes floatAnimationUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatAnimationDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatAnimationLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes floatAnimationRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes floatAnimationDiagonal {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.floating {
  animation: floatAnimationUp 5s infinite;
}

.floating:nth-child(2) {
  animation: floatAnimationDown 5s infinite;
}

.floating:nth-child(3) {
  animation: floatAnimationLeft 5s infinite;
}

.floating:nth-child(4) {
  animation: floatAnimationRight 5s infinite;
}

.floating:nth-child(5) {
  animation: floatAnimationDiagonal 5s infinite;
}
